.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.75s;
}

.active {
  opacity: 1;
  transform: translateY(0px);
}

@media (min-width: 550px) {
  .links {
    flex-direction: row;
  }
}
